.nav-bar {
  background-color: var(--primary-color);
  position: fixed;
  width: 100%;
  height: 95px;
  z-index: 10;
}

.navigation {
  display: flex;
  justify-content: center;
  padding: 15px;
  align-items: center;
  column-gap: 15px;
}

img {
  width: 150px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.navigation a {
  color: var(--accent-color);
  font-size: 30px;
  border-bottom: 3px solid transparent;
  position: relative;
}

.navigation a::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s;
}

.navigation a:hover::after {
  width: 100%;
  background-color: var(--action-color);
}

.navigation a.active {
  border-bottom: 3px solid var(--action-color);
}

.icon {
  width: 45px;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.close {
  top: 5px;
}

.menu-navigation {
  background-color: var(--bg-color);
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: 95px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  row-gap: 20px;
  z-index: 10;
  animation: grow 0.25s;
  transform-origin: right;
}

.menu-navigation a {
  color: var(--accent-color);
  font-size: 30px;
  margin-left: 15px;
  border-bottom: 3px solid transparent;
  position: relative;
}

.menu-navigation a::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  position: absolute;
  transition: width 0.4s;
}

.menu-navigation a:hover::after {
  width: 100%;
  background-color: var(--action-color);
}

.menu-navigation a.active {
  border-bottom: 3px solid var(--action-color);
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
  
  100% {
    transform: scaleX(1);
  }
}


/* MEDIA */

@media (width <= 800px) {
  img {
    display: flex;
    margin: auto;
    margin-top: 15px;
  }
}

@media (width <= 500px) {
  .nav-bar {
    height: 70px;
  }

  img {
    width: 100px;
  }

  .icon {
    width: 30px;
    top: 5px;
  }

  .close {
    top: 0px;
  }

  .menu-navigation {
    margin-top: 70px;
  }

  .menu-navigation a {
    font-size: 25px;
  }
}