<div class="footer-wrapper">
  <div class="sections-wrapper">
    <div class="footer-section">
      <h4>De Marco Eduard</h4>
      <hr>
      <p>
        A Front-End Developer, whose primary attention is cultivating not just his 
        personal life but also his professional one. He achives this through endless 
        learning and skill honing, guided by the philosophy that "A deep life is a 
        good life" - <i>Cal Newport</i>.
      </p>
    </div>
    <div class="footer-section">
      <h4>Portfolio</h4>
      <hr>
      <p>
        Coded using Visual Studio Code, powered by Angular, styled with CSS, and 
        showcasing Audiowave font, all by your one and only. Feel free to revisit 
        later to check on its progress, because this is a life long project.
      </p>
    </div>
    <div class="footer-section">
      <h4>Socials</h4>
      <hr>
      <div class="socials">
        <a href="https://mailto:demarcoeduard@gmail.com" target="_blank">
          <img src="assets/email.svg" alt="email icon">
        </a>
        <a href="https://wa.me/+40769301288" target="_blank">
          <img src="assets/whatsapp.svg" alt="whatsapp icon">
        </a>
        <a href="https://t.me/demarcoeduard" target="_blank">
          <img src="assets/telegram.svg" alt="telegram icon">
        </a>
        <a href="https://www.linkedin.com/in/de-marco-eduard/" target="_blank">
          <img src="assets/linkedin.svg" alt="linkedin icon">
        </a>
        <a href="https://github.com/demarcoeduard" target="_blank">
          <img src="assets/github.svg" alt=" github icon">
        </a>
      </div>
    </div>
  </div>
  <p class="copyright"> <img src="assets/copyright.svg" alt=""> 2024 <span>|</span> De Marco Eduard <span>|</span> All Rights Reserved</p>
</div>