.footer-wrapper {
  background-color: var(--primary-color);
  padding: 30px 0px 10px 0px;
}

.sections-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer-section {
  width: 600px;
  margin-bottom: 50px;
}

h4 {
  font-size: 30px;
  color: var(--action-color);
  font-weight: normal;
}

hr {
  border: 2px solid var(--bg-color);
  border-radius: 5px;
}

p {
  color: var(--accent-color);
  font-size: 20px;
  margin-top: 5px;
}

.socials img {
  width: 90px;
  padding: 10px;
  filter: drop-shadow(0 0 0.75rem var(--bg-color));
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright img {
  width: 15px;
}

.copyright {
  text-align: center;
  margin-top: 50px;
}

span {
  color: var(--bg-color);
}

/* MDEIA */

@media (width <= 650px) {
  .footer-section {
    width: 400px;
  }

  h4 {
    font-size: 25px;
  }

  p {
    font-size: 15px;
  }

  .socials img {
    width: 70px;
  }

  .copyright img {
    width: 11px;
  }
}