<div class="about-wrapper">
  <div class="about-section">
    <h1>About</h1>
    <hr>
    <p>
      Hey there! I'm Eduard, but you can call me Edi. I'm a front-end developer based in Romania, with over a year of 
      hands-on experience in crafting optimized and responsive websites to deliver the best user experience possible. 
      I honed my skills through a front-end development bootcamp, which not only improved my technical abilities but 
      also equipped me with valuable life skills.
    </p>
    <br>
    <p>
      During the bootcamp, I focused on creating user-friendly interfaces, writing clean and concise code, and adopting 
      a problem-solving mindset. Additionally, collaborating with my professor and peers taught me essential communication 
      skills, such as expressing my ideas in a concise and clear manner, active listening, and effective teamwork.
    </p>
    <br>
    <p>
      Overall, I'm passionate about creating front-end experiences and continuously refining my skills to deliver my best 
      in every project.
    </p>
  </div>
  <div class="about-section">
    <h1>Work Process</h1>
    <hr>
    <p>
      To better explain this process I'll use one of my recent projects as a example: my Hospital CRM. This project consists 
      of three different stages: Researching, Designing, and Creating. Rather than diving straight into coding, I initiated 
      the process by conduction a online research to gain a comprehensive understanding of what a CRM means, what are its 
      essential components and how to tailor them for hospial use.
    </p>
    <br>
    <p>
      Next came the Designing phase, where I crafted all necessary elements such as headers, footers, and cards, 
      ensuring they were not only aesthetically pleasing but also accessible and fully responsive. However, the 
      most significant part is the last one where I add the all the necessary code to create a fully functional 
      and optimized website for a flawless interactive user experience.
    </p>
    <br>
    <p>
      But I didn't mention an important part, which is when my cat, Afi, comes into the picture trying (and allways succeding) 
      to get my attention. I mentioned Afi because he prevents me from experiencing burnout after long coding sessions, and he 
      deserves recognition.
    </p>
  </div>
  <div class="about-section">
    <h1>Fun Facts</h1>
    <hr>
    <ul>
      <li>To start the coding session I drink a magic potion called Coffee</li>
      <li>When it comes to books, my favourite one is "Deep Work" by Cal Newport</li>
      <li>In enjoy to play games like "Stardew Valley" or "God of War"</li>
      <li>Currently reading "The Subtle Art of Not Giving a F*ck" by Mark Manson</li>
      <li>Fascinated by the process of game creation and I love watching developers in action</li>
    </ul>
  </div>
  <div class="about-section">
    <h1>Final Thoughts</h1>
    <hr>
    <p>
      Thanks for taking the time to learn about me! Looking forward to getting to know you too. 
    </p>
    <br>
    <p>
      I wish you a glitch-free day and may your ideas be successful on the first try.
    </p>
  </div>
</div>