<section @fade>
  <div class="links">
    <a href="mailto:demarcoeduard@gmail.com" class="card link-card">
      <i class="fa-solid fa-envelope"></i>
      <p class="source-code-pro-medium">Email</p>
    </a>
    <a href="https://github.com/demarcoeduard" target="_blank" class="card link-card">
      <i class="fa-brands fa-github"></i>
      <p class="source-code-pro-medium">GitHub</p>
    </a>
    <a href="https://www.linkedin.com/in/de-marco-eduard/" target="_blank" class="card link-card">
      <i class="fa-brands fa-linkedin-in"></i>
      <p class="source-code-pro-medium">LinkedIn</p>
    </a>
  </div>
  <div class="about">
    <div class="card about-card">
      <p class="lato-regular">
        Dynamic Front-End Developer with hands-on experience and proficiency 
        utilizing skills like HTML, CSS, JavaScript, TypeScript, Angular, 
        and various cutting-edge tools and technologies.
      </p>
    </div>
    <div class="card about-card">
      <p class="lato-regular">
        My expertise lies in crafting responsive web experiences that seamlessly
        merge intuitive user interactions with effective performance optimization,
        all while maintaining a keen eye for aesthetic detail.
      </p>
    </div>
  </div>
</section>
