section {
  max-width: 1440px;
  padding: 0px 20px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 100px;
}

.card {
  background-color: var(--main-color);
  width: 600px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 25%);
}

img {
  width: 100%;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.info {
  margin: 15px 25px 0px 25px; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 35px;
}

i {
  font-size: 50px;
  transition: .2s all ease-out;
}

i:hover {
  color: var(--action-color);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 25%));
  cursor: pointer;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: solid 2px var(--bg-color);
}

.skill-tag {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 50px;
}

.Angular {
  background-color: rgba(221, 3, 48, 75%);
}

.TypeScript {
  background-color: rgba(49, 120, 198, 75%);
}

.HTML {
  background-color: rgba(239, 101, 42, 75%);
}

.CSS {
  background-color: rgba(41, 101, 241, 75%);
}

.description {
  font-size: 20px;
}

/* MEDIA */

@media (width < 1440px) {
  section {
    max-width: 1240px;
  }
  
  .card {
    width: 550px;
  }
  
  img {
    height: 270px;
  }
}

@media (width < 1240px) {
  section {
    width: fit-content;
    flex-direction: column;
  }
}

@media (width < 1040px) {
  section {
    max-width: 440px;
    gap: 50px;
  }

  .card {
    width: 100%;
    height: fit-content;
  }

  img {
    display: none;
  }

  .info {
    margin: 10px; 
  }

  .header {
    margin-bottom: 10px;
  }

  .skill-tag {
    padding: 5px 10px;
  }

  .description {
    font-size: 16px;
  }
}