@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Audiowide', Arial, Helvetica, sans-serif;
}

:root {
  --bg-color: #0d0d0d;
  --primary-color: #262626;
  --accent-color: #ffffff;
  --action-color: #00dae6;
}

body {
  background-color: var(--bg-color);
}