/* HERO SECTION */

.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 400px;
  text-align: center;
}

.title {
  color: var(--action-color);
  font-size: 115px;
  padding-bottom: 10px;
}

.subtitle {
  font-size: 65px;
  padding-top: 15px;
}

.subtext {
  font-size: 40px;
  width: 1000px;
  margin: 50px auto;
  margin-top: 200px;
}

h1 {
  color: var(--accent-color);
  text-align: center;
  font-weight: normal;
}

span {
  color: var(--action-color);
}

.hero-wrapper hr {
  width: 1350px;
  margin: auto;
  border: 5px solid var(--primary-color);
  border-radius: 5px;
}

/* ABOUT SECTION */

.about-wrapper {
  display: flex;
  width: 1100px;
  margin: auto;
  margin-bottom: 150px;
}

.about-wrapper img {
  width: 450px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-height: 550px;
}

.about-text, .about-subtext {
  color: var(--accent-color);
  padding-top: 5px;
  padding-left: 10px;
  font-size: 30px;
}

.about-subtext {
  padding-top: 30px;
}

.about-wrapper button {
  margin: 35px 0px 0px 10px;
  font-size: 25px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--action-color);
  background-color: var(--primary-color);
  color: var(--accent-color);
  transition: 0.3s all;
}

.about-wrapper button:hover {
  background-color: var(--action-color);
  color: var(--bg-color);
  cursor: pointer;
}

/* SKILLS SECTION */

.skills-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
  margin: 250px;
}

.card {
  border-radius: 10px;
  background-color: var(--primary-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  min-width: 600px;
}

h4 {
  text-align: center;
  color: var(--accent-color);
  font-size: 35px;
  margin: 10px;
}

.card hr {
  border: 3px solid var(--bg-color);
  width: 100%;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0px;
}

.card p {
  background-color: var(--bg-color);
  color: var(--action-color);
  padding: 15px 25px;
  margin: 5px;
  border-radius: 5px;
  font-size: 25px;
}



/* MEDIA */



@media (width <= 1400px) {
  /* HERO SECTION */
  .hero-wrapper {
    margin-bottom: 350px;
  }

  .title {
    font-size: 98px;
  }

  .subtitle {
    font-size: 55px;
  }

  .subtext {
    font-size: 35px;
    width: 850px;
  }

  .hero-wrapper hr {
    width: 1150px;
  }

  /* SKILLS SECTION */

  .card {
    min-width: 500px;
  }

  .card p {
    font-size: 20px;
  }
}



@media (width <= 1200px) {
  /* HERO SECTION */

  .hero-wrapper {
    margin-bottom: 300px;
  }

  .title {
    font-size: 80px;
  }

  .subtitle {
    font-size: 45px;
  }

  .subtext {
    font-size: 30px;
    width: 750px;
  }

  .hero-wrapper hr {
    width: 950px;
  }

  /* ABOUT SECTION */

  .about-wrapper {
    width: 900px;
  }

  .about-wrapper img {
    width: 400px;
  }

  .about-text, .about-subtext {
    font-size: 25px;
  }

  .about-subtext {
    padding-top: 20px;
  }

  /* SKILLS SECTION */

  .skills-wrapper {
    flex-direction: column;
    max-width: 500px;
    margin: 250px auto;
    row-gap: 100px;
  }
}



@media (width <= 1000px) {
  /* HERO SECTION */

  .hero-wrapper {
    margin-bottom: 250px;
  }
  
  .title {
    font-size: 63px;
  }

  .subtitle {
    font-size: 35.5px;
  }

  .subtext {
    font-size: 25px;
    width: 600px;
  }

  .hero-wrapper hr {
    width: 750px;
  }

  /* ABOUT SECTION */

  .about-wrapper {
    width: 700px;
  }

  .about-wrapper img {
    width: 350px;
  }

  .about-text, .about-subtext {
    font-size: 20px;
    padding-top: 0px;
  }

  .about-subtext {
    padding-top: 10px;
  }

  .about-wrapper button {
    margin: 15px 0px 0px 10px;
  }
}



@media (width <= 800px) {
  /* HERO SECTION */

  .hero-wrapper {
    margin-bottom: 200px;
  }

  .title {
    font-size: 47px;
  }

  .subtitle {
    font-size: 26.5px;
  }

  .subtext {
    font-size: 20px;
    width: 500px;
  }

  .hero-wrapper hr {
    width: 550px;
  }

  /* ABOUT SECTION */

  .about-wrapper {
    flex-direction: column;
    width: 500px;
  }

  .about-wrapper img {
    margin: auto;
  }

  .about-text, .about-subtext {
    width: 350px;
    margin: auto;
    padding-top: 15px;
  }

  .about-wrapper button {
    display: flex;
    margin: auto;
    margin-top: 15px;
  }

  /* SKILLS SECTION */

  .skills-wrapper {
    margin: 100px auto;
  }

  .card {
    min-width: 420px;
    max-width: 420px;
  }

  h4 {
    font-size: 30px;
  }

  .card p {
    font-size: 15px;
  }
}



@media (width <= 600px) {
  /* HERO SECTION */

  .hero-wrapper {
    margin-bottom: 150px;
  }

  .title {
    font-size: 38px;
  }

  .subtitle {
    font-size: 21.5px;
  }

  .subtext {
    font-size: 17px;
    width: 400px;
  }

  .hero-wrapper hr {
    width: 450px;
  }

  /* ABOUT SECTION */

  .about-wrapper {
    width: 300px;
  }

  .about-wrapper img {
    width: 100%;
  }

  .about-text, .about-subtext {
    width: 300px;
    font-size: 15px;
    padding-top: 10px;
  }
}



@media (width <= 500px) {
  /* HERO SECTION */

  .hero-wrapper {
    margin-bottom: 100px;
  }

  .title {
    font-size: 34px;
  }

  .subtitle {
    font-size: 19px;
  }

  .subtext {
    font-size: 15px;
    width: 350px;
  }

  .hero-wrapper hr {
    width: 400px;
  }

  /* SKILLS SECTION */

  .skills-wrapper {
    margin: 50px auto;
  }

  .card {
    min-width: 400px;
    max-width: 400px;
  }

  h4 {
    font-size: 25px;
  }

  .card p {
    font-size: 13px;
  }
}