<div class="hero-wrapper">
  <h1 class="title">DE MARCO EDUARD</h1>
  <!-- <h1>Hi! I'm <span>De Marco Eduard</span>,</h1> -->
  <!-- <h1>Maker Of <span>Front-End</span> Experiences!</h1> -->
  <hr>
  <h1 class="subtitle">Maker Of <span>Front-End</span> Experiences</h1>
  <h1 class="subtext">I'm <span>driven</span> by the <span>challenge</span> of constantly <span>raising the bar</span> with <span>each project</span> I undertake!</h1>
</div>
<div class="about-wrapper">
  <img src="assets/afi1.jpg" alt="image of my cat">
  <div>
    <p class="about-text">
      I'm an avid <span>reader</span> and <span>gamer</span>, and I cherish my role as a <span>cat owner</span>. 
      However, my <span>passion</span> lies in <span>front-end development</span>, where I specialize 
      in <span>optimizing</span> websites for top-notch <span>performance</span> while keeping an eye 
      on achieving <span>pixel-perfection</span> and <span>full responsivenes</span> across all platforms.
    </p>
    <p class="about-subtext">
      Feel free to <span>click</span> the <span>button</span> below to learn more <span>about</span> me 
      and the charming <span>little gentleman</span> in the picture.
    </p>
    <button routerLink="/about">About</button>
  </div>
</div>
<div class="skills-wrapper">
  <div class="card">
    <h4>HARD SKILLS</h4>
    <hr>
    <div class="skills">
      <p>Angular</p>
      <p>TypeScript</p>
      <p>GitHub</p>
      <p>JavaScript</p>
      <p>RESTful API</p>
      <p>Git</p>
      <p>Responsive Design</p>
      <p>Optimization</p>
      <p>Visual Studio Code</p>
      <p>HTML</p>
      <p>CSS</p>
    </div>
  </div>
  <div class="card">
    <h4>SOFT SKILLS</h4>
    <hr>
    <div class="skills">
      <p>Adaptability</p>
      <p>Time Management</p>
      <p>Self-improvement</p>
      <p>Creativity</p>
      <p>Communicative</p>
      <p>Critical Thinking</p>
      <p>Problem Solving</p>
      <p>Collaboration</p>
    </div>
  </div>
</div>