/* HERO SECTION */

.hero-wrapper {
  font-size: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 400px;
  text-align: center;
}

h1, h3 {
  text-align: center;
  color: var(--accent-color);
  font-weight: normal;
  margin: auto;
}

span {
  color: var(--action-color);
}

.hero-wrapper hr {
  width: 1350px;
  margin: auto;
  border: 5px solid var(--primary-color);
  border-radius: 5px;
}

h3 {
  font-size: 36px;
  padding-top: 5px;
  width: 1350px;
}

.hero-wrapper p {
  margin-top: 250px;
  text-align: center;
  color: var(--accent-color);
}

.hero-wrapper img {
  width: 50px;
  margin: auto;
  animation: 3s up-and-down infinite;
  z-index: -1;
}

@keyframes up-and-down {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(100%);
  }

  0% {
    transform: translateY(0%);
  }
}

/* ABOUT SECTION */

.about-wrapper {
  display: flex;
  width: 1100px;
  margin: auto;
  margin-bottom: 150px;
}

.about-wrapper img {
  width: 450px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.about-text, .about-subtext {
  color: var(--accent-color);
  padding-top: 10px;
  padding-left: 10px;
  font-size: 30px;
}

.about-subtext {
  padding-top: 30px;
}

.about-wrapper button {
  margin: 35px 0px 0px 10px;
  font-size: 25px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--action-color);
  background-color: var(--primary-color);
  color: var(--accent-color);
  transition: 0.3s all;
}

.about-wrapper button:hover {
  background-color: var(--action-color);
  color: var(--bg-color);
  cursor: pointer;
}

/* SKILLS SECTION */

.skills-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
  margin: 250px;
}

.card {
  border-radius: 10px;
  background-color: var(--primary-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  min-width: 600px;
}

h4 {
  text-align: center;
  color: var(--accent-color);
  font-size: 35px;
  margin: 10px;
}

.card hr {
  border: 3px solid var(--bg-color);
  width: 100%;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0px;
}

.card p {
  background-color: var(--bg-color);
  color: var(--action-color);
  padding: 15px 25px;
  margin: 5px;
  border-radius: 5px;
  font-size: 25px;
}



/* MEDIA */



@media (width <= 1400px) {
  /* HERO SECTION */

  .hero-wrapper {
    font-size: 30px;
  }

  .hero-wrapper hr, h3 {
    width: 1160px;
  }
  
  h3 {
    font-size: 31px;
  }

  .hero-wrapper p {
    margin-top: 200px;
  }

  .hero-wrapper img {
    width: 45px;
  }

  /* SKILLS SECTION */

  .card {
    min-width: 500px;
  }

  .card p {
    font-size: 20px;
  }
}



@media (width <= 1200px) {
  /* HERO SECTION */
  
  .hero-wrapper {
    font-size: 25px;
  }

  .hero-wrapper hr, h3 {
    width: 965px;
  }

  h3 {
    font-size: 26px;
  }

  .hero-wrapper p {
    margin-top: 150px;
  }

  .hero-wrapper img {
    width: 40px;
  }

  /* ABOUT SECTION */

  .about-wrapper {
    width: 900px;
  }

  .about-wrapper img {
    width: 400px;
  }

  .about-text, .about-subtext {
    font-size: 25px;
  }

  .about-subtext {
    padding-top: 20px;
  }

  /* SKILLS SECTION */

  .skills-wrapper {
    flex-direction: column;
    max-width: 500px;
    margin: 250px auto;
    row-gap: 100px;
  }
}



@media (width <= 1000px) {
  /* HERO SECTION */
  
  .hero-wrapper {
    font-size: 20px;
    margin-top: 250px;
  }

  .hero-wrapper hr, h3 {
    width: 775px;
  }

  h3 {
    font-size: 21px;
  }

  .hero-wrapper p {
    margin-top: 100px;
  }

  .hero-wrapper img {
    width: 35px;
  }

  /* ABOUT SECTION */

  .about-wrapper {
    width: 700px;
  }

  .about-wrapper img {
    width: 350px;
  }

  .about-text, .about-subtext {
    font-size: 20px;
    padding-top: 0px;
  }

  .about-subtext {
    padding-top: 10px;
  }

  .about-wrapper button {
    margin: 15px 0px 0px 10px;
  }
}



@media (width <= 800px) {
  /* HERO SECTION */
  
  .hero-wrapper {
    font-size: 15px;
    margin-bottom: 450px;
  }

  .hero-wrapper hr, h3 {
    width: 580px;
  }

  h3 {
    font-size: 17px;
  }

  .hero-wrapper p {
    margin-top: 80px;
  }

  .hero-wrapper img {
    width: 30px;
  }

  /* ABOUT SECTION */

  .about-wrapper {
    flex-direction: column;
    width: 500px;
  }

  .about-wrapper img {
    margin: auto;
  }

  .about-text, .about-subtext {
    width: 350px;
    margin: auto;
    padding-top: 15px;
  }

  .about-wrapper button {
    display: flex;
    margin: auto;
    margin-top: 15px;
  }

  /* SKILLS SECTION */

  .skills-wrapper {
    margin: 100px auto;
  }

  .card {
    min-width: 420px;
    max-width: 420px;
  }

  h4 {
    font-size: 30px;
  }

  .card p {
    font-size: 15px;
  }
}



@media (width <= 600px) {
  /* HERO SECTION */
  
  .hero-wrapper {
    font-size: 12px;
  }

  .hero-wrapper hr, h3 {
    width: 465px;
  }

  h3 {
    font-size: 17px;
  }

  .hero-wrapper p {
    margin-top: 60px;
  }

  .hero-wrapper img {
    width: 25px;
  }

  /* ABOUT SECTION */

  .about-wrapper {
    width: 300px;
  }

  .about-wrapper img {
    width: 100%;
  }

  .about-text, .about-subtext {
    width: 300px;
    font-size: 15px;
    padding-top: 10px;
  }
}



@media (width <= 500px) {
  /* HERO SECTION */
  
  .hero-wrapper {
    font-size: 19.5px;
    margin-left: 10px;
    margin-top: 0px;
  }

  .hero-wrapper h1 {
    margin: 0%;
    text-align: left;
  }

  .hero-wrapper hr, h3 {
    width: 395px;
    margin: 0%;
    text-align: left;
    font-size: 41px;
  }

  .hero-wrapper hr {
    margin-top: 10px;
  }

  .hero-wrapper p {
    margin-top: 40px;
  }

  .hero-wrapper img {
    width: 20px;
  }

  /* ABOUT SECTION */

  .about-wrapper {
  }

  /* SKILLS SECTION */

  .skills-wrapper {
    margin: 50px auto;
  }

  .card {
    min-width: 400px;
    max-width: 400px;
  }

  h4 {
    font-size: 25px;
  }

  .card p {
    font-size: 13px;
  }
}