<div class="hero-wrapper">
  <h1>Hi! I'm <span>De Marco Eduard</span>,</h1>
  <h1>Maker Of <span>Front-End</span> Experiences!</h1>
  <hr>
  <h3>I'm <span>driven</span> by the <span>challenge</span> of constantly <span>raising the bar</span></h3>
  <h3>with <span>each project</span> I undertake.</h3>
  <p>SCROLL DOWN</p>
  <img src="assets/arrow-down.svg" alt="arrow-down">
</div>
<div class="about-wrapper">
  <img src="assets/afi1.jpg" alt="image of my cat">
  <div>
    <p class="about-text">
      I'm an avid <span>reader</span> and <span>gamer</span>, and I cherish my role as a <span>cat owner</span>. 
      However, my <span>passion</span> lies in <span>front-end development</span>, where I specialize 
      in <span>optimizing</span> websites for top-notch <span>performance</span> while keeping an eye 
      on achieving <span>pixel-perfection</span> and <span>full responsivenes</span> across all platforms.
    </p>
    <p class="about-subtext">
      Feel free to <span>click</span> the <span>button</span> below to learn more <span>about me</span> 
      and the charming <span>little gentleman</span> in the picture.
    </p>
    <button routerLink="/about-me">About Me</button>
  </div>
</div>
