<section>
  <div class="first-row">
    <div class="card profile-card">
      <p class="name raleway-bold">De Marco Eduard</p>
      <p class="profession raleway-medium">Front-End Developer</p>
    </div>
    <a href="/assets/De Marco Eduard Resume.pdf" target="_blank" class="card action-card link-card">
      <i class="fa-solid fa-file"></i>
      <p class="source-code-pro-medium">Resume</p>
    </a>
    <a href="mailto:demarcoeduard@gmail.com" class="card action-card link-card">
      <i class="fa-solid fa-message"></i>
      <p class="source-code-pro-medium">Contact</p>
    </a>
  </div>
  <div class="second-row">
    <a routerLink="/about" class="card action-card nav-card">
      <i class="fa-solid fa-book-open"></i>
      <p class="source-code-pro-medium">About</p>
    </a>
    <a routerLink="/skills" class="card action-card nav-card">
      <i class="fa-solid fa-gears"></i>
      <p class="source-code-pro-medium">Skills</p>
    </a>
    <a routerLink="/projects" class="card action-card nav-card">
      <i class="fa-solid fa-diagram-project"></i>
      <p class="source-code-pro-medium">Projects</p>
    </a>
  </div>
</section>
